<html>
  <head>
    <title>{{ name }} - {{ message }}</title>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Recursive:wght@200..900&family=Sorts+Mill+Goudy:ital@0;1&display=swap');

      :root {
        color-scheme: light dark;

        --color-pure-white: #ffffff;
        --color-white: #fafcff;
        --color-neutral-50: #f8f9fc;
        --color-neutral-100: #f1f3f9;
        --color-neutral-200: #e2e6f0;
        --color-neutral-300: #cbd1e1;
        --color-neutral-400: #94a0b8;
        --color-neutral-500: #64708b;
        --color-neutral-600: #475269;
        --color-neutral-700: #334055;
        --color-neutral-800: #1e253b;
        --color-neutral-900: #0f152a;
        --color-neutral-950: #020617;
        --color-primary: #577c8e;
        --color-primary-50: #f0f7ff;
        --color-primary-100: #e0f0ff;
        --color-primary-200: #b3e0ff;
        --color-primary-300: #66c2ff;
        --color-primary-400: #1a9fff;
        --color-primary-500: #0077cc;
        --color-primary-600: #005c99;
        --color-primary-700: #004166;
        --color-primary-800: #002633;
        --color-primary-900: #001319;
        --color-primary-950: #000a0d;    

        --background-color: #F0F3F8;
        --card-background-color: #FBFCFF;
        --code-window-background-color: var(--color-pure-white);
        --border-color: #DCE0EB;
        --font-color: var(--color-neutral-600);
        --heading-color: var(--color-neutral-950);
        --primary-accent-color: var(--color-primary-400);
        --code-highlight-background-color: var(--color-neutral-100);
      }

      @media (prefers-color-scheme: dark) {
        :root {
          --background-color: #010616;
          --card-background-color: #0A0F1C;
          --code-window-background-color: var(--background-color);
          --border-color: var(--color-neutral-700);
          --font-color: var(--color-neutral-400);
          --heading-color: var(--color-neutral-50);
          --code-highlight-background-color: var(--color-neutral-800);
          --primary-accent-color: var(--color-primary-300);
        }

        .shiki,
        .shiki span {
          color: var(--shiki-dark) !important;
          background-color: var(--background-color) !important;
        }
      }

      * {
        box-sizing: border-box;
        -webkit-font-smoothing: antialiased;
      }

      body {
        background: var(--background-color);
        color: var(--font-color);
        font-size: 16px;
        font-family: "Recursive", monospace;
        font-weight: 300;
        padding: 2.5rem;
      }

      h1, h2, h3, h4 {
        font-family: "Sorts Mill Goudy", serif;
        color: var(--heading-color);
        margin: 0 0 1rem;
      }

      h1 {
        font-size: 2.5rem;
        margin: 0 0 1rem;
      }

      h3 {
        font-weight: 400;
      }

      .container {
        width: 100%;
        max-width: 1024px;
        margin: 0 auto;
      }

      header.title {
        margin-bottom: 2rem;
      }

      main .card {
        margin-bottom: 2rem;
      }

      main details summary {
        cursor: pointer;
        color: var(--heading-color);
        font-family: "Sorts Mill Goudy", serif;
        font-size: 1.25rem;
      }

      main details:open summary {
        margin-bottom: 1.5rem;
      }

      .card {
        background: var(--card-background-color);
        border-radius: 0.5rem;
        border: 2px solid var(--border-color);
        padding: 1.5rem;
      }

      .stack ol {
        margin: 0;
        padding: 0;
      }

      .stack-line-container {
        align-items: center;
        display: flex;
        gap: 1rem;
        justify-content: space-between;
        overflow: hidden;
      }

      .stack-line {
        counter-increment: countdown -1;
        display: grid;
        grid-template-columns: 2.5rem auto;
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        padding: 1rem 0;
      }

      .stack-line:before {
        content: counter(countdown);
        width: 1rem;
        display: inline-block;
        text-align: right;
        color: var(--font-color);
      }

      .stack-line:last-of-type {
        border: none;
        padding-bottom: 0;
      }

      .stack-line-content {
        word-wrap: break-word;
        overflow-x: scroll;
      }

      .stack-line-position {
        color: var(--primary-accent-color);
      }

      .key-value {
        align-items: center;
        border-bottom: 1px solid var(--border-color);
        display: flex;
        padding: 1rem 0;
        gap: 1.5rem;
      }

      .key-value:last-of-type {
        border: none;
        padding-bottom: 0;
      }

      .key-value .key {
        color: var(--heading-color);
        font-weight: 700;
        min-width: 200px;
      }

      .key-value .value {
        word-wrap: break-word;
        overflow: hidden;
        font-style: italic;
      }

      .file-details {
        align-items: center;
        display: flex;
        gap: 1.5rem;
        justify-content: space-between;
        margin-bottom: 1rem;
      }

      .file-details .open a {
        border-radius: 0.25rem;
        border: 2px solid var(--border-color);
        color: var(--color-neutral-500);
        display: block;
        font-weight: 600;
        padding: 0.25rem 1rem;
        text-decoration: none;
      }

      .file-details .open a:hover {
        border-color: var(--color-neutral-500);
        color: var(--color-neutral-500);
      }

      .file-details .path {
        overflow: hidden;
        word-wrap: break-word;
      }

      .code-window {
        counter-reset: step;
        background: var(--code-window-background-color);
        border: 1px solid var(--border-color);
        border-radius: 0.5rem;
        padding: 0 1rem;
        font-size: 1rem;
      }

      .code-window code {
        display: grid;
        line-height: 1rem;
      }

      .code-window .line {
        display: block;
        width: 100%;
        padding: 0.375rem 0;
      }

      .code-window .line::before {
        content: counter(step);
        counter-increment: step;
        width: 1rem;
        margin-right: 1.5rem;
        display: inline-block;
        text-align: right;
        color: var(--font-color);
      }

      .code-window .highlighted-line,
      .code-window .highlighted-line span {
        background: var(--code-highlight-background-color) !important;
      }

      .code-window .line:hover,
      .code-window .line:hover span {
        background: var(--code-highlight-background-color) !important;
      }

      .shiki {
        overflow-x: auto;
        max-width: 100%;
      }
    </style>
  </head>
  
  <body>
    <header class="title container">
      <h1>
        {{ if context.response.status }}
          {{ context.response.status }} - 
        {{ /if }}
        {{ name }}
      </h1>
      <div class="subtitle">
        <em>{{ message }}</em>
      </div>
    </header>
  
    <main class="container">
        <details class="code-container card" open>
          <summary>File</summary>

          <div class="file-details">
            <div class="path">{{ stack.lines[0].file }}</div>
            <div class="open">
              <a href="vscode://file/{{ stack.lines[0].file }}">Open</a>
            </div>
          </div>

          <div class="code-window">
            {{ code }}
          </div>
        </details>

        <details class="stack card" open>
          <summary>Stack trace ({{ stack.lines.length }})</summary>

          <ol style="counter-reset: countdown {{ stack.lines.length + 1 }}">
            {{ for line of stack.lines }}
              <li class="stack-line">
                <div class="stack-line-container">
                  <div class="stack-line-content">
                    {{ if line.method }}
                      <div class="stack-line-method">{{ line.method }}</div>
                    {{ /if }}

                    {{ line.file }}
                  </div>
                  <div class="stack-line-position">
                    <em>{{ line.line }}:{{ line.col }}</em>
                  </div>
                </div>
              </li>
            {{ /for }}
          </ol>
        </details>

        <details class="environment-details card" open>
          <summary>Context</summary>

          <h3>Request</h3>

          <div class="request-headers">
            {{ for key, value of context.request.headers }}
              <div class="key-value">
                <div class="key">{{ key }}</div>
                <div class="value">{{ value }}</div>
              </div>
            {{ /for }}
          </div>
        </details>
    </main>
  </body>
</html>
