<html>
  <head>
    <title>{{ name }} - {{ message }}</title>
    
    <style>
      @import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

      * {
        box-sizing: border-box;
      }

      body {
        background: #131314;
        color: white;
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
        padding: 2rem;
      }

      h1, h2, h3, h4 {
        font-family: "Cal Sans", sans-serif;
        margin: 0;
      }

      h1 {
        font-size: 2rem;
        margin: 0 0 1rem;
        color: #3a9d95;
      }

      h3 {
        font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
        font-weight: 400;
      }

      .subtitle {
        font-size: 1.375rem;
        font-weight: 300;
        margin-bottom: 2rem;
      }

      em {
        font-style: normal;
        color: #3a9d95;
      }

      .primary-panel {
        position: fixed;
        top: 0;
        left: 0;
        width: 40%;
        overflow-x: scroll;
        height: 100%;
        border-right: 1px solid #333333;
      }

      .title {
        padding: 3rem 2rem 2rem;
      }

      .secondary-panel {
        background: #f5f8fa;
        top: 0;
        left: 40%;
        position: fixed;
        width: 60%;
        overflow-x: scroll;
        height: 100%;
      }

      .secondary-panel {
        counter-reset: step;
      }

      .secondary-panel .code-container {
        background: #191919;
        padding: 2rem;
      }

      .secondary-panel .code-container .code-window code {
        word-wrap: break-word;
        overflow-x: scroll;
      }

      .secondary-panel .code-container .code-window > div {
        width: 100%;
      }

      .secondary-panel .code-container .file-details {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        margin-bottom: 1.5rem;
      }

      .secondary-panel .code-container .file-details .path {
        color: #666666;
        font-family: monospace;
        font-weight: 300;
        font-size: 0.875rem;
        word-wrap: break-word;
        overflow: hidden;
      }

      .secondary-panel .code-container .file-details .open a {
        color: #666666;
        display: inline-block;
        border: 1px solid #666666;
        font-size: 0.875rem;
        padding: 0.25rem 0.5rem;
        border-radius: 3px;
        text-decoration: none;
      }

      .secondary-panel .code-container .file-details .open a:hover {
        border-color: #999999;
        color: #999999;
      }

      .secondary-panel pre {
        border-radius: 3px;
        line-height: 1.25rem;
        padding: 0.5rem 1rem;
      }

      .secondary-panel .line::before {
        content: counter(step);
        counter-increment: step;
        width: 1rem;
        margin-right: 1.5rem;
        display: inline-block;
        text-align: right;
        color: rgba(115,138,148,.4)
      }

      .secondary-panel .environment-details {
        color: #131313;
        padding: 2rem;
      }

      .highlighted-line {
        display: inline-block;
        background: rgba(255, 255, 255, 0.1);
        width: 100%;
      }

      .secondary-panel .highlighted-line::before {
        color: rgba(255,255,255,.8);
      }

      .stack {
        font-size: 0.875rem;
      }

      .stack ol {
        margin: 0;
        padding: 0;
      }

      .stack h3 {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1rem 2rem;
      }

      .stack-line {
        counter-increment: countdown -1;
        color: #666666;
        display: grid;
        grid-template-columns: 2.5rem auto;
        align-items: center;
        font-family: monospace, sans-serif;
        font-weight: 400;
        font-style: normal;
        background: rgba(255, 255, 255, 0.025);
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        padding: 1rem 2rem;
      }

      .stack-line:before {
        content: counter(countdown);
        width: 1rem;
        display: inline-block;
        text-align: right;
        color: rgba(115,138,148,.4);
        word-wrap: none;
      }

      .stack-line:hover {
        background: rgba(255, 255, 255, 0.05);
      }

      .stack-line-container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 1rem;
        overflow: hidden;
      }

      .stack-line-content {
        word-wrap: break-word;
        overflow-x: scroll;
      }

      .stack-line-method {
        color: rgba(255, 255, 255, 0.8);
        font-family: monospace;
        margin-bottom: 0.5rem;
      }

      .stack-line strong {
        color: #3a9d95;
      }

      .shiki {
        overflow-x: auto;
        border-radius: 4px;
        border: 1px solid #3c3c3c;
        max-width: 100%;
        background: #212121;
      }

      .shiki pre {
        margin: 0;
        background: transparent;
      }

      .shiki code {
        display: block;
      }

      .shiki code .line {
        counter-increment: line;
        line-height: 1.6rem;
      }

      .shiki code .line::before {
        content: counter(line);
        counter-increment: line;
        flex-shrink: 0;
        text-align: right;
        color: #858585;
        user-select: none;
        background: #212121;
      }

      .shiki code .highlighted-line {
        background: rgba(255, 255, 0, 0.1);
      }

      .shiki code .highlighted-line::before {
        background: rgba(255, 255, 0, 0.1);
        color: #ffffff;
      }
    </style>
  </head>
  
  <body>
    <main class="container">
      <section class="primary-panel">
        <div class="title">
          <h1>
            {{ if context.response.status }}
              {{ context.response.status }} - 
            {{ /if }}
            {{ name }}
          </h1>
          <div class="subtitle">{{ message }}</div>
        </div>

        <div class="stack">
          <h3>Stack trace ({{ stack.lines.length }})</h3>

          <ol style="counter-reset: countdown {{ stack.lines.length + 1 }}">
            {{ for line of stack.lines }}
              <li class="stack-line">
                <div class="stack-line-container">
                  <div class="stack-line-content">
                    {{ if line.method }}
                      <div class="stack-line-method">{{ line.method }}</div>
                    {{ /if }}

                    {{ line.file }}
                  </div>
                  <div class="stack-line-position">
                    <em>{{ line.line }}:{{ line.col }}</em>
                  </div>
                </div>
              </li>
            {{ /for }}
          </ol>
        </div>
      </div>

      <section class="secondary-panel" style="counter-increment: step {{ stack.lines[0].line - 10 }}">
        <div class="code-container">
          <div class="file-details">
            <div class="path">{{ stack.lines[0].file }}</div>
            <div class="open">
              <a href="vscode://file/{{ stack.lines[0].file }}">Open</a>
            </div>
          </div>

          <div class="code-window">
            {{ code }}
          </div>
        </div>

        <div class="environment-details">
          <h2>Environment Details</h2>

          {{ JSON.stringify(context) }}
        </div>
      </section>
    </main>
  </body>
</html>
